body{
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
-webkit-text-fill-color: blue; text-align: center;}

.Sbtn{ font-size: 1em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: lightgreen; border-radius: 10px; cursor: pointer; transition: background-color 0.5s; }

   .Sbtn:hover{background-color:greenyellow;}

   .Extras{ font-size: 2em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: lightgoldenrodyellow; border-radius: 10px; cursor: pointer; transition: background-color 1s;}

    .Extras:hover{background-color: lightpink;}